
* {
  font-family: 'Anek Telugu', sans-serif;
  color: rgb(250, 250, 250);
}
.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 2px 6px;
  padding: 0 15px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color:rgb(255, 255, 255);
  font-family: 'Anek Telugu', sans-serif;
  
 
}
font {
  color: rgb(255, 255, 255);
}
button {
  font-family: 'Anek Telugu', sans-serif, 
}

/*------HEADER------*/

.header {
  background-color: black;
  color: rgb (250, 250, 250);
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  padding: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #ffffffcc;
}
a.nav.link {
  cursor: pointer;
}
li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}
header ul li a{
  font-weight: bold;
}



.logo_cb_header {
  box-sizing: content-box;
  cursor: pointer;
 
}

header .logo_cart_header {
  position: relative;
  cursor: pointer;
  
}


header img .logo_cart_header {
  width: 45px;
  height: 45px;
}

header .logo_cart_header span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ffffff;
}
 div .container-fluid {
  padding: 5px;
 }
 nav {
  margin: 3px;
  padding: 15px;
 }
 .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
    
    
  }


/*------------- MAIN ----------------*/
main {
  background-color: black;
  color: rgb (250, 250, 250);
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
}

h1 .linkMainShop {
text-align: center;
margin: auto;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 10px;
  border-radius: 5px;
  max-width: 300px;
  justify-content: space-around;
  font-family: 'Anek Telugu', sans-serif;
}
.container {
  padding: '2px' '16px';
}
.container.item.row {
  padding: 15px 15px;
  margin: 0 auto;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

select.select_size.form-select {
  color:#ffffffcc;
  background-color: #524e4e4d;
  font-weight: 700;
  max-width: 50%;
  cursor: pointer;
  border: 1px solid rgb(166 166 166);
  border-radius: 3px;
  

}

/*----------------CART------------------*/
div .cart_header{
  margin-bottom: 0.7rem;
  text-align: center;
  font-family: 'Anel Telugu', sans-serif;
  display: block;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  box-sizing: border-box;
  padding: 125px 5px;
}

div .cart_header svg {
  color: black;
}

h1 .cart_header__title {
  margin-bottom: 0.5rem;
  font-family: 'Anek Telugu', sans-serif;
  word-wrap: break-word;
  display: block;
  text-align: center;
}

div .text_link a {
  cursor: pointer;
  text-decoration: underline;

}
div .cart_header td {
  border-style: none;

}

div .cart_footer button{
  cursor: pointer;
  margin-bottom: 0;
  min-height: 44px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  padding: 8px 15px;
  color: black;
  font-weight: bold;
  font-size:large;


}




.footer {
  background-color: black;
  margin: 0 auto;
  padding-top: 25rem;
 
}

p {
  color: white;
  font-family: 'Anek Telugu', sans-serif;
 
}

.card {
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 10px;
  border-radius: 5px;
  max-width: 300px;
  justify-content: space-around;
}


/*------------------------ CART ------------------------*/
img.cart__image {
  max-height: 100px;
  display: block;
  margin: 0 auto;
  border: 0;
}
div.list_view_item__title{
  padding-left: 0;
  vertical-align: top;
  text-align: left !important;

}
input.input__quant {
  border: 1px solid var(--color-border-form);
    background-color: whitesmoke;
    color: black;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
    font-size: 16px;
    -webkit-text-size-adjust: 100%
}



/*------ media ------*/
@media only screen and (max-width: 600px){
  header ul {
    display: none;
  }
  
  
}



